body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f9;
}

header {
  background: #0a3d62;
  color: white;
  padding: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-weight: bold;
}

.container {
  padding: 20px;
}

.hero {
  background: linear-gradient(to right, #1e3799, #4a69bd);
  color: white;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
}

.hero button {
  padding: 12px 25px;
  border: none;
  background: #ffffff;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card button {
  margin-top: 10px;
  padding: 8px 15px;
  background: #273c75;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.btn {
  margin-top: 15px;
  padding: 12px;
  background: #fbc531;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

footer {
  text-align: center;
  margin: 20px;
  color: #555;
}

.login-body {
  background: linear-gradient(to right, #1e3799, #4a69bd);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 12px rgba(0,0,0,0.3);
}

.login-box h2 {
  margin-bottom: 20px;
}

.login-box input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.login-box button {
  margin-top: 10px;
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  background: #273c75;
  color: white;
  cursor: pointer;
}

.search-box {
  width: 140px;    
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.promo {
  position: relative;
  max-width: 230px;
  margin: 30px auto;
}

.promo img {
  width: 100%;
  border-radius: 12px;
}

.badge-diskon {
  position: absolute;
  top: 15px;
  left: 15px;
  background: red;
  color: white;
  padding: 8px 14px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
}

.promo-box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 30px auto;
  max-width: 700px;
}

.promo-box img {
  width: 220px;  
  border-radius: 12px;
}

.promo-text h2 {
  margin: 0 0 10px;
  color: #e84118;
}